#content
{
    display: block;
    width: 86%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.sorter {
    display: inline-block;
    flex: 1 1 auto;
    padding: 1rem;
    margin-left: 8px;
}

.sorter ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    margin: 0;
    padding: 0;
    
}

#classlist {
    display: flex;
    max-width: 400px;
    max-height: 50px;
    border: solid;
    border-color: #008CBA;
    overflow: auto;
    
}

#raritylist {
  display: flex;
  max-width: 400px;
  max-height: 50px;
  border: solid;
  border-top: 0;
  border-color: #008CBA;
  overflow: auto;
}

#raritylist li {

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 65px;

}

.item {
  display: inline-flex;
}

.item img {
    cursor: pointer;
    transition-duration: 0.4s;
}

.clicked {
  background-color: #008CBA;
}

.item img:hover {
  background-color: #008CBA;
  color: white;
}


.item span {
  font-size: larger;
}

.item span:hover {
  cursor: pointer;
  color: #008CBA;
  
}
.clickeD {
cursor: pointer;
  color: #008CBA;
}


  #all {
    background-color: rgba(0, 0, 0, 0); 
    color: white; 
    border: 2px solid #008CBA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 0 0;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  #all:hover {
    background-color: #008CBA;
    color: white;
  }

#op_table 
{
  margin-left: 20px;
}

#op_table .content-ltr 
{
    direction: ltr;
}

#op_table .oper {
  width: 100px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background: #909090;
  float: left;
  margin: 3px;
}


#content .oper-image {
  width: 100px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
}

#op_table a {
  color: #8da5bf;
  text-decoration: none;
}

#op_table img {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#content .oper-stars {
  width: 100px;
  height: 40px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  color: #ffcc00;
  position: relative;
  z-index: 2;
  background: linear-gradient( to bottom,rgba(0,0,0,0.9) 5px,rgba(0,0,0,0) 40px );
  margin: 0px 0px 100px 0px;
  text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 5px #000;
}

#content .oper-class {
  width: 30px;
  height: 30px;
  background: #202020;
  padding: 2px;
  position: absolute;
  z-index: 4;
  bottom: 35px;
  left: 5px;
}

#content .oper-color {
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: -50px;
  z-index: 2;
  transform: rotate(20deg);
}


#content .oper-diagonal {
  width: 0;
  height: 0;
  border-bottom: 40px solid #303030;
  border-right: 100px solid transparent;
  position: absolute;
  z-index: 3;
  bottom: 30px;
}

#content .oper-name {
  width: 100px;
  height: 30px;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  background: #303030;
}

#content .oper-color.rarity-6 {
  background: linear-gradient( to top,rgba(229,167,64,1) 50px,rgba(229,167,64,0) 80px );
}

#content .oper-color.rarity-5 {
  background: linear-gradient( to top,rgba(255,246,216,1) 50px,rgba(255,246,216,0) 80px );
}

#content .oper-color.rarity-4 {
  background: linear-gradient( to top,rgba(230,224,239,1) 50px,rgba(230,224,239,0) 80px );
}

#content .oper-color.rarity-3 {
  background: linear-gradient( to top,rgba(0,179,253,1) 50px,rgba(0,179,253,0) 80px );
}

#content .oper-color.rarity-2 {
  background: linear-gradient( to top,rgba(220,229,55,1) 50px,rgba(220,229,55,0) 80px );
}